h1 {
    color: rgb(254, 207, 215);
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.toDoWrapper {
    border-right: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
    width: 350px;
    margin: auto;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

ul {
    list-style: none;
}

input {
    border-style: hidden;
    width: 75%;
    margin-bottom: 10px;
    margin-top: 10px;
}

button {
    border-style: hidden;
    color: pink;
}

.counter {
    display: flex;
    /* justify-content: end; */
    position: absolute;
    color: rgb(200, 197, 197);
}

.red {
    color: red;
}

.blue {
    color: blue;
}